ul{
    float:right;
    list-style: none;
}
a{
    text-decoration: none;
}
input {
    float:right;
    margin-top: 0;
}
.container{
    width:1200px;
    margin:0 auto;
}
.events{
    text-decoration: underline;
}
.second{
    float:right;
    margin-top: 20px;
    clear:right;
}
/*.second,p{*/
/*    float: left;*/
/*}*/
.first{
    float:left;
    margin-top: 20px;
    clear:left;
}
.first ,p{
    text-decoration: underline;
}
h1{
    text-align: center;
}
.banner{
    margin-top: 120px;
}
.banner, img{
    margin-left: 10px;
    text-align: center;
}
li{
    float:left;
    margin-right: 10px;
}
.img-circle{
    border-radius:50%;
    text-align: center;
    position: relative;
    margin-left: 500px;
}
.two{
    float:left;
}
.four{
    float:right;
    margin-top: 50px;
}
.three{
    margin-top: 50px;
    float:right;
    margin-right: 150px;
}
.footer{
    background-color: lightpink;
    font-size:12px;
    margin-top: 600px;
}
.textbox,p{
    line-height: 50px;
}
.one{
    float:left;
    margin-left: 140px;
}
.tips{
    margin-top: 200px;
}
.foot{
    background-color: lightpink;
    font-size:12px;
    margin-top: 1200px;
}
.foots{
    background-color: lightpink;
    font-size:12px;
    margin-top: 800px;
}
button{
    background-color: lightblue;
}